*{
    margin:0;
    box-sizing: border-box;
    font-size:1rem;
    color:white;
}

/* Blocchi principali */

.wrapper{
    display: flex;
    height: 100vh;
    width:100%;
    flex-direction: column;

}

footer{
    height: 10vh;
    width: 100%;
    background-color: #282828;
    justify-content: space-between;
   
    
    

}

main{
    width:100%;
    height: 90vh;
    background-color: brown;
    
    
    
}

nav{
    
    width:15%;
    background-color: black;
    flex-direction:column;
    justify-content: flex-start;
    
   
}

.content{
    width: 85%;
    flex-grow: 0;
    background-color: blue;
    overflow-y: auto;
    position: relative;
    padding-top:10vh;
}

#upgrade-bar{
    width:100%;
    height: 10vh;
    background-color: rgba(8,11,18,0.5);
    z-index:1;
    position:absolute;
    top:0;
    text-align:right;
    line-height: 10vh;
    vertical-align: middle;
}

/* /Blocchi Principali */

/************** nav *************/
#logo{
    padding:1rem;
    width:100%;
    height: 10vh;
}

#logo img{
    width:70%;
}
.nav-list{
    display: flex;
    flex-direction:column; 
}
.nav-list,
li{ 
    padding-inline-start: 0rem;
    padding-inline-end: 0;
}
.nav-list li{
    padding-inline-start:1rem;
    font-size:1.2rem;
    padding-bottom:0.5rem;
    list-style-type: none;
}
a img{
    width:10%;
   margin-right:0.5rem;
}
.nav-list li a{
    display:flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.nav-list h3{
    font-size: 1.5rem;
    color:white;
    margin-bottom:0.5rem;
}

.nav-list li a i{
    font-size:3.5rem;
    margin-right:0.7rem;
    color:grey
}

.grey  li a{
    color:grey;
}

.white  li a{
    color:white;
}

#nav-foot{
    justify-self: flex-end;
    margin-top:auto;
    padding:1rem;
}

#profile{
    height: 3rem;
    width: 3rem;
    background-color: grey;
    border-radius: 50%;
    padding: 0.5rem;
    margin-top: 1rem;
    display: inline-block;
    
}
#profile img{
    width:100%;
}
#profile-name{
    color:white;
    font-size:1.5rem;
}

 a:hover{
    opacity:0.5;
}
.white li:first-of-type {
    border-left:2px solid yellow;
} 

/**************** /nav **************/

/**************  footer *************/
.footer-lateral{
    padding:0.5rem;
    width:20%;
    
    justify-content: space-around;
    align-items: center;
}

#footer-central{
   
    width:50%;
    flex-direction: column;
    align-items: center;
}
#listening-now-name{
    flex-direction: column;
    
    justify-content: center;
}

#listening-now-name h3{
    font-size:1.5rem;
}
.icons{
   
    align-items: center;
}
.icons i{
    font-size:1.5rem;
    margin-left:1rem;
    color:grey;
}

#footer-central-top{
   
    height: 50%;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-central-top a{
    margin:0 1rem;
}

#footer-central-top a i{
    color:white;
}
#footer-central-bottom{
    
    height: 50%;
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.fa-play-circle{
    font-size:2rem;
}

.status-bar{
    height:1vh;
    border-radius:10px;
}

/* *********** /footer ********** */

/* ******** upgrade-bard *********/

#upgrade{
    margin-right:2rem;
    font-size:1.5rem;
    border-radius:2rem;
    padding:0.5rem 2rem;
    border:1px solid white;
    background-color:unset;
    cursor:pointer ;
}
#upgrade:hover{
    opacity:0.5;
}


/* ****** /upgrade-bar ******* */



/* utilities */
.mar-btm1{
    margin-bottom:0.5rem;
}

.flex{display: flex;}

.h100{
    height: 100%;
}
.w25{
    width: 25%;
}
.w50{
    width: 50%;
}
.w70{
    width:70%;
}

.grey{color:grey}

.inline-block{
    display: inline-block;
}
.b-color-grey{
    background-color:grey;
}

.b-color-lightgrey{
    background-color:lightgrey;
}