*{
    margin:0;
    box-sizing: border-box;
    font-size:1rem;
    color:white;
}

/* Blocchi principali */

.wrapper{
    display: flex;
    height: 100vh;
    width:100%;
    flex-direction: column;

}

footer{
    height: 10vh;
    width: 100%;
    background-color: aqua;
   
    
    

}

main{
    width:100%;
    height: 90vh;
    background-color: brown;
    
    
    
}

nav{
    
    width:15%;
    background-color: black;
    flex-direction:column;
    justify-content: flex-start;
    
   
}

.content{
    width: 85%;
    flex-grow: 0;
    background-color: blue;
    overflow-y: auto;
    position: relative;
    padding-top:10vh;
}

#upgrade-bar{
    width:100%;
    height: 10vh;
    background-color: rgba(167, 44, 44, 0.8);
    z-index:1;
    position:absolute;
    top:0;
}

/* /Blocchi Principali */

/* nav */
#logo{
    padding:1rem;
    width:100%;
    height: 10vh;
}

#logo img{
    width:70%;
}
.nav-list{
    display: flex;
    flex-direction:column; 
}
.nav-list,
li{ 
    padding-inline-start: 0rem;
    padding-inline-end: 0;
}
.nav-list li{
    padding-inline-start:1rem;
    font-size:1.2rem;
    padding-bottom:0.5rem;
    list-style-type: none;
}
a img{
    width:10%;
   margin-right:0.5rem;
}
.nav-list li a{
    display:flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.nav-list h3{
    font-size: 1.5rem;
    color:white;
    margin-bottom:0.5rem;
}

.nav-list li a i{
    font-size:3.5rem;
    margin-right:0.7rem;
    color:grey
}

.grey  li a{
    color:grey;
}

.white  li a{
    color:white;
}

#nav-foot{
    justify-self: flex-end;
    margin-top:auto;
    padding:1rem;
}

#profile{
    height: 3rem;
    width: 3rem;
    background-color: grey;
    border-radius: 50%;
    padding: 0.5rem;
    margin-top: 1rem;
    display: inline-block;
    
}
#profile img{
    width:100%;
}
#profile-name{
    color:white;
    font-size:1.5rem;
}

.nav-list a:hover{
    opacity:0.5;
}
.white li:first-of-type {
    border-left:2px solid yellow;
} 

/**************  footer *************/
.footer-lateral{
    padding:1rem;
    width:20%;
    background-color: red;
}

#footer-central{
    background-color: yellow;
    width:60%;
}
#listening-now-name{
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
}

#listening-now-name h3{
    font-size:1.5rem;
}
.icons{
    margin-left:2rem;
    align-items: center;
}
.icons i{
    font-size:2rem;
    margin-left:1rem;
    color:grey;
}





/* utilities */
.mar-btm1{
    margin-bottom:0.5rem;
}

.flex{display: flex;}

.h100{
    height: 100%;
}

.grey{color:grey}


