@media screen and (max-width:1080px){
    
    
    #content-list{
        flex-wrap:wrap;
       
    }
    #content-list li{
        margin:1rem 1rem;
       
    }

    .album{
        width:calc(100% / 4 - 1rem);
    }


    .nav-list li a{
        font-size:2rem;
    }
    .nav-list h3{
        font-size:2rem;
    }

   
}

@media screen and (max-width:720px){
    
    .album{
        width:calc(100% / 2 - 1rem);
    }

    nav{
        width:100px;
    }
    
    .content{
        width: calc(100% - 100px);
    }

    .hide{display: none;}
    .show{
        width: 30%;
        
    }

    #logo img{
        width:40%;
    }
    #small-logo{display: block;
    }

    #logo img:hover nav{
        width:300px;
    }

    #logo img:hover .hide{display: block;

    }
}